body{
  background-color: #252424;
}
.container{
  width: 70%;
  padding:10px 0px;
  margin-left:15%;
  color: #fff;
}
.padd{
 padding:15px;
}
.search-field{
  width:80%;
  height: 40px;
  border-radius: 10px;
  font-size:18px;
  outline: none;
  text-indent:20px;
  border:1px solid #fff;
  background-color: #252424;
  color: #fff;
}

.movie{
  padding: 5px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.poster{
  height:600px;
  width: 33%;
  overflow: hidden;
}
.details{
  height: 500px;
  width:65%;
}

.img-poster{
  width: 100%;
}

.padd p{
  font-size: 20px;
}

h1,h2,h3{
  margin: 0px;
}

.ratings{
  display: flex;
  justify-content: space-between;
}

.input-group{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.btn{
  width:15%;
  color: #fff;
  background-color: #1072ec;
  border: none;
  border-radius: 10px;
  font-size:18px;
  outline: none;
  cursor: pointer;
}

.ratings>div{
  margin-right:10px;
}